In [42]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [43]:
url = "https://www.fbi.gov/wanted/topten"

In [44]:
response = requests.get(url)
response.status_code

200

In [45]:
soup = BeautifulSoup(response.content, "html.parser")

In [75]:
a = soup.select('#query-results-0f737222c5054a81a120bce207b0446a > ul > li > h3 >a')
a

[<a href="https://www.fbi.gov/wanted/topten/jason-derek-brown">JASON DEREK BROWN</a>,
 <a href="https://www.fbi.gov/wanted/topten/ruja-ignatova">RUJA IGNATOVA</a>,
 <a href="https://www.fbi.gov/wanted/topten/arnoldo-jimenez">ARNOLDO JIMENEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/alexis-flores">ALEXIS FLORES</a>,
 <a href="https://www.fbi.gov/wanted/topten/jose-rodolfo-villarreal-hernandez">JOSE RODOLFO VILLARREAL-HERNANDEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/yulan-adonay-archaga-carias">YULAN ADONAY ARCHAGA CARIAS</a>,
 <a href="https://www.fbi.gov/wanted/topten/rafael-caro-quintero">RAFAEL CARO-QUINTERO</a>,
 <a href="https://www.fbi.gov/wanted/topten/eugene-palmer">EUGENE PALMER</a>,
 <a href="https://www.fbi.gov/wanted/topten/bhadreshkumar-chetanbhai-patel">BHADRESHKUMAR CHETANBHAI PATEL</a>,
 <a href="https://www.fbi.gov/wanted/topten/alejandro-castillo">ALEJANDRO ROSALES CASTILLO</a>]

In [76]:
most_wanted = []

num_iter = len(a)
#query-results-0f737222c5054a81a120bce207b0446a > ul > li:nth-child(1) > h3 > a
name = a

for i in range(num_iter):
     most_wanted.append(name[i].get_text())

print(most_wanted)

['JASON DEREK BROWN', 'RUJA IGNATOVA', 'ARNOLDO JIMENEZ', 'ALEXIS FLORES', 'JOSE RODOLFO VILLARREAL-HERNANDEZ', 'YULAN ADONAY ARCHAGA CARIAS', 'RAFAEL CARO-QUINTERO', 'EUGENE PALMER', 'BHADRESHKUMAR CHETANBHAI PATEL', 'ALEJANDRO ROSALES CASTILLO']

In [77]:
most_wanted = pd.DataFrame({"Name":most_wanted})

In [78]:
most_wanted

                                Name
0                  JASON DEREK BROWN
1                      RUJA IGNATOVA
2                    ARNOLDO JIMENEZ
3                      ALEXIS FLORES
4  JOSE RODOLFO VILLARREAL-HERNANDEZ
5        YULAN ADONAY ARCHAGA CARIAS
6               RAFAEL CARO-QUINTERO
7                      EUGENE PALMER
8     BHADRESHKUMAR CHETANBHAI PATEL
9         ALEJANDRO ROSALES CASTILLO

In [ ]:
# Display the 20 latest earthquakes info (date, time, latitude, longitude and region name

In [125]:
url = 'https://www.emsc-csem.org/Earthquake/'

In [126]:
response = requests.get(url)
response.status_code

200

In [127]:
soup = BeautifulSoup(response.content, "html.parser")

In [136]:
z = soup.select('tbody tr td.tabev1')
z

[<td class="tabev1">33.98 </td>,
 <td class="tabev1">116.69 </td>,
 <td class="tabev1">22.82 </td>,
 <td class="tabev1">68.15 </td>,
 <td class="tabev1">38.91 </td>,
 <td class="tabev1">38.40 </td>,
 <td class="tabev1">3.90 </td>,
 <td class="tabev1">128.72 </td>,
 <td class="tabev1">37.22 </td>,
 <td class="tabev1">39.13 </td>,
 <td class="tabev1">47.57 </td>,
 <td class="tabev1">8.46 </td>,
 <td class="tabev1">16.26 </td>,
 <td class="tabev1">98.30 </td>,
 <td class="tabev1">38.85 </td>,
 <td class="tabev1">43.53 </td>,
 <td class="tabev1">11.23 </td>,
 <td class="tabev1">84.24 </td>,
 <td class="tabev1">35.42 </td>,
 <td class="tabev1">3.60 </td>,
 <td class="tabev1">42.27 </td>,
 <td class="tabev1">8.28 </td>,
 <td class="tabev1">18.87 </td>,
 <td class="tabev1">155.27 </td>,
 <td class="tabev1">17.95 </td>,
 <td class="tabev1">66.94 </td>,
 <td class="tabev1">18.61 </td>,
 <td class="tabev1">155.20 </td>,
 <td class="tabev1">4.42 </td>,
 <td class="tabev1">96.59 </td>,
 <td class="tabev1">8.04 </td>,
 <td class="tabev1">126.72 </td>,
 <td class="tabev1">36.57 </td>,
 <td class="tabev1">7.48 </td>,
 <td class="tabev1">15.96 </td>,
 <td class="tabev1">97.91 </td>,
 <td class="tabev1">35.49 </td>,
 <td class="tabev1">3.60 </td>,
 <td class="tabev1">19.17 </td>,
 <td class="tabev1">155.51 </td>,
 <td class="tabev1">43.03 </td>,
 <td class="tabev1">0.65 </td>,
 <td class="tabev1">20.80 </td>,
 <td class="tabev1">69.10 </td>,
 <td class="tabev1">11.36 </td>,
 <td class="tabev1">86.93 </td>,
 <td class="tabev1">17.96 </td>,
 <td class="tabev1">66.84 </td>,
 <td class="tabev1">20.75 </td>,
 <td class="tabev1">69.01 </td>,
 <td class="tabev1">37.28 </td>,
 <td class="tabev1">1.84 </td>,
 <td class="tabev1">17.95 </td>,
 <td class="tabev1">66.66 </td>,
 <td class="tabev1">33.71 </td>,
 <td class="tabev1">70.67 </td>,
 <td class="tabev1">33.91 </td>,
 <td class="tabev1">71.95 </td>,
 <td class="tabev1">18.80 </td>,
 <td class="tabev1">146.58 </td>,
 <td class="tabev1">36.12 </td>,
 <td class="tabev1">97.84 </td>,
 <td class="tabev1">19.20 </td>,
 <td class="tabev1">155.47 </td>,
 <td class="tabev1">35.40 </td>,
 <td class="tabev1">3.64 </td>,
 <td class="tabev1">36.10 </td>,
 <td class="tabev1">0.88 </td>,
 <td class="tabev1">35.46 </td>,
 <td class="tabev1">3.66 </td>,
 <td class="tabev1">31.68 </td>,
 <td class="tabev1">104.42 </td>,
 <td class="tabev1">38.85 </td>,
 <td class="tabev1">43.48 </td>,
 <td class="tabev1">23.25 </td>,
 <td class="tabev1">121.36 </td>,
 <td class="tabev1">30.84 </td>,
 <td class="tabev1">71.44 </td>,
 <td class="tabev1">31.53 </td>,
 <td class="tabev1">77.01 </td>,
 <td class="tabev1">37.42 </td>,
 <td class="tabev1">37.22 </td>,
 <td class="tabev1">36.54 </td>,
 <td class="tabev1">7.57 </td>,
 <td class="tabev1">35.49 </td>,
 <td class="tabev1">3.66 </td>,
 <td class="tabev1">35.52 </td>,
 <td class="tabev1">3.50 </td>,
 <td class="tabev1">35.19 </td>,
 <td class="tabev1">25.32 </td>,
 <td class="tabev1">21.83 </td>,
 <td class="tabev1">69.95 </td>,
 <td class="tabev1">34.84 </td>,
 <td class="tabev1">72.89 </td>,
 <td class="tabev1">46.31 </td>,
 <td class="tabev1">7.50 </td>,
 <td class="tabev1">33.27 </td>,
 <td class="tabev1">115.98 </td>,
 <td class="tabev1">23.72 </td>,
 <td class="tabev1">66.53 </td>]

In [143]:
time = []
latitude = []
deg_la = []
longitude = []
deg_lo = []
region = []
magnitude = []

num_iter = 10


name = soup.select('tbody tr td.tabev6 b')
lat= soup.select('tbody tr td.tabev1')
#lon = 
d_lag = soup.select('tbody tr td.tabev2')
#d_lon =
#reg = 
#mag = 

for i in range(num_iter):
    time.append(name[i].get_text())
for x in range(num_iter):
    if x%2 == 0:
        latitude.append(lat[i].get_text())
        deg_la.append(d_lag[i].get_text())
        
print(time)
print(lat)
print(deg_la)

['earthquake2022-07-19\xa0\xa0\xa006:59:07.6', 'earthquake2022-07-19\xa0\xa0\xa006:58:10.0', 'earthquake2022-07-19\xa0\xa0\xa006:52:20.2', 'earthquake2022-07-19\xa0\xa0\xa006:46:38.0', 'earthquake2022-07-19\xa0\xa0\xa006:41:54.9', 'earthquake2022-07-19\xa0\xa0\xa006:26:22.1', 'earthquake2022-07-19\xa0\xa0\xa006:24:32.0', 'earthquake2022-07-19\xa0\xa0\xa005:56:48.9', 'earthquake2022-07-19\xa0\xa0\xa005:51:44.0', 'earthquake2022-07-19\xa0\xa0\xa005:49:57.5']
[<td class="tabev1">33.98 </td>, <td class="tabev1">116.69 </td>, <td class="tabev1">22.82 </td>, <td class="tabev1">68.15 </td>, <td class="tabev1">38.91 </td>, <td class="tabev1">38.40 </td>, <td class="tabev1">3.90 </td>, <td class="tabev1">128.72 </td>, <td class="tabev1">37.22 </td>, <td class="tabev1">39.13 </td>, <td class="tabev1">47.57 </td>, <td class="tabev1">8.46 </td>, <td class="tabev1">16.26 </td>, <td class="tabev1">98.30 </td>, <td class="tabev1">38.85 </td>, <td class="tabev1">43.53 </td>, <td class="tabev1">11.23 </td>, <td class="tabev1">84.24 </td>, <td class="tabev1">35.42 </td>, <td class="tabev1">3.60 </td>, <td class="tabev1">42.27 </td>, <td class="tabev1">8.28 </td>, <td class="tabev1">18.87 </td>, <td class="tabev1">155.27 </td>, <td class="tabev1">17.95 </td>, <td class="tabev1">66.94 </td>, <td class="tabev1">18.61 </td>, <td class="tabev1">155.20 </td>, <td class="tabev1">4.42 </td>, <td class="tabev1">96.59 </td>, <td class="tabev1">8.04 </td>, <td class="tabev1">126.72 </td>, <td class="tabev1">36.57 </td>, <td class="tabev1">7.48 </td>, <td class="tabev1">15.96 </td>, <td class="tabev1">97.91 </td>, <td class="tabev1">35.49 </td>, <td class="tabev1">3.60 </td>, <td class="tabev1">19.17 </td>, <td class="tabev1">155.51 </td>, <td class="tabev1">43.03 </td>, <td class="tabev1">0.65 </td>, <td class="tabev1">20.80 </td>, <td class="tabev1">69.10 </td>, <td class="tabev1">11.36 </td>, <td class="tabev1">86.93 </td>, <td class="tabev1">17.96 </td>, <td class="tabev1">66.84 </td>, <td class="tabev1">20.75 </td>, <td class="tabev1">69.01 </td>, <td class="tabev1">37.28 </td>, <td class="tabev1">1.84 </td>, <td class="tabev1">17.95 </td>, <td class="tabev1">66.66 </td>, <td class="tabev1">33.71 </td>, <td class="tabev1">70.67 </td>, <td class="tabev1">33.91 </td>, <td class="tabev1">71.95 </td>, <td class="tabev1">18.80 </td>, <td class="tabev1">146.58 </td>, <td class="tabev1">36.12 </td>, <td class="tabev1">97.84 </td>, <td class="tabev1">19.20 </td>, <td class="tabev1">155.47 </td>, <td class="tabev1">35.40 </td>, <td class="tabev1">3.64 </td>, <td class="tabev1">36.10 </td>, <td class="tabev1">0.88 </td>, <td class="tabev1">35.46 </td>, <td class="tabev1">3.66 </td>, <td class="tabev1">31.68 </td>, <td class="tabev1">104.42 </td>, <td class="tabev1">38.85 </td>, <td class="tabev1">43.48 </td>, <td class="tabev1">23.25 </td>, <td class="tabev1">121.36 </td>, <td class="tabev1">30.84 </td>, <td class="tabev1">71.44 </td>, <td class="tabev1">31.53 </td>, <td class="tabev1">77.01 </td>, <td class="tabev1">37.42 </td>, <td class="tabev1">37.22 </td>, <td class="tabev1">36.54 </td>, <td class="tabev1">7.57 </td>, <td class="tabev1">35.49 </td>, <td class="tabev1">3.66 </td>, <td class="tabev1">35.52 </td>, <td class="tabev1">3.50 </td>, <td class="tabev1">35.19 </td>, <td class="tabev1">25.32 </td>, <td class="tabev1">21.83 </td>, <td class="tabev1">69.95 </td>, <td class="tabev1">34.84 </td>, <td class="tabev1">72.89 </td>, <td class="tabev1">46.31 </td>, <td class="tabev1">7.50 </td>, <td class="tabev1">33.27 </td>, <td class="tabev1">115.98 </td>, <td class="tabev1">23.72 </td>, <td class="tabev1">66.53 </td>]
['S\xa0\xa0', 'S\xa0\xa0', 'S\xa0\xa0', 'S\xa0\xa0', 'S\xa0\xa0']

In [2]:
!git add .
!git status
!git commit -m 'done'
!git push

On branch master
Your branch is up to date with 'origin/master'.

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
	new file:   Untitled1.ipynb

[master 9206127] done
 1 file changed, 418 insertions(+)
 create mode 100644 Untitled1.ipynb
Enumerating objects: 4, done.
Counting objects: 100% (4/4), done.
Delta compression using up to 8 threads
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 4.08 KiB | 4.08 MiB/s, done.
Total 3 (delta 0), reused 0 (delta 0), pack-reused 0
To https://github.com/mferreiracad/lab-web-scraping-single-page
   fb2b534..9206127  master -> master