In [42]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [43]:
url = "https://www.fbi.gov/wanted/topten"

In [44]:
response = requests.get(url)
response.status_code

200

In [45]:
soup = BeautifulSoup(response.content, "html.parser")

In [75]:
a = soup.select('#query-results-0f737222c5054a81a120bce207b0446a > ul > li > h3 >a')
a

[<a href="https://www.fbi.gov/wanted/topten/jason-derek-brown">JASON DEREK BROWN</a>,
 <a href="https://www.fbi.gov/wanted/topten/ruja-ignatova">RUJA IGNATOVA</a>,
 <a href="https://www.fbi.gov/wanted/topten/arnoldo-jimenez">ARNOLDO JIMENEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/alexis-flores">ALEXIS FLORES</a>,
 <a href="https://www.fbi.gov/wanted/topten/jose-rodolfo-villarreal-hernandez">JOSE RODOLFO VILLARREAL-HERNANDEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/yulan-adonay-archaga-carias">YULAN ADONAY ARCHAGA CARIAS</a>,
 <a href="https://www.fbi.gov/wanted/topten/rafael-caro-quintero">RAFAEL CARO-QUINTERO</a>,
 <a href="https://www.fbi.gov/wanted/topten/eugene-palmer">EUGENE PALMER</a>,
 <a href="https://www.fbi.gov/wanted/topten/bhadreshkumar-chetanbhai-patel">BHADRESHKUMAR CHETANBHAI PATEL</a>,
 <a href="https://www.fbi.gov/wanted/topten/alejandro-castillo">ALEJANDRO ROSALES CASTILLO</a>]

In [76]:
most_wanted = []

num_iter = len(a)
#query-results-0f737222c5054a81a120bce207b0446a > ul > li:nth-child(1) > h3 > a
name = a

for i in range(num_iter):
     most_wanted.append(name[i].get_text())

print(most_wanted)

['JASON DEREK BROWN', 'RUJA IGNATOVA', 'ARNOLDO JIMENEZ', 'ALEXIS FLORES', 'JOSE RODOLFO VILLARREAL-HERNANDEZ', 'YULAN ADONAY ARCHAGA CARIAS', 'RAFAEL CARO-QUINTERO', 'EUGENE PALMER', 'BHADRESHKUMAR CHETANBHAI PATEL', 'ALEJANDRO ROSALES CASTILLO']

In [77]:
most_wanted = pd.DataFrame({"Name":most_wanted})

In [78]:
most_wanted

                                Name
0                  JASON DEREK BROWN
1                      RUJA IGNATOVA
2                    ARNOLDO JIMENEZ
3                      ALEXIS FLORES
4  JOSE RODOLFO VILLARREAL-HERNANDEZ
5        YULAN ADONAY ARCHAGA CARIAS
6               RAFAEL CARO-QUINTERO
7                      EUGENE PALMER
8     BHADRESHKUMAR CHETANBHAI PATEL
9         ALEJANDRO ROSALES CASTILLO

In [ ]:
# Display the 20 latest earthquakes info (date, time, latitude, longitude and region name

In [146]:
url = 'https://www.emsc-csem.org/Earthquake/'

In [147]:
response = requests.get(url)
response.status_code

200

In [148]:
soup = BeautifulSoup(response.content, "html.parser")

In [167]:
time = []
latitude = []
lat_l = []
longitude = [] 
lon_l = []
region = []
magnitude =[]
num_iter = 10

date = soup.select('tbody tr td.tabev6 b')
lat = soup.select('tbody tr td:nth-child(5)')
lon = soup.select('tbody tr td:nth-child(7)')
lt_l = soup.select('tbody tr td:nth-child(6)')
ln_l = soup.select('tbody tr td:nth-child(8)')
reg = soup.select('tbody tr td.tb_region')
mag = soup.select('tbody tr td:nth-child(11)')
for i in range(num_iter):
    time.append(date[i].get_text())
    latitude.append(lat[i].get_text())
    longitude.append(lon[i].get_text())
    lat_l.append(lt_l[i].get_text())
    lon_l.append(ln_l[i].get_text())
    region.append(reg[i].get_text())
    magnitude.append(mag[i].get_text())

In [181]:
date_ = []
hour_ = []
for x in time:
    hour = x[-10:-2]
    date = x[10:20]
    hour_.append(hour)
    date_.append(date)
hour_
date_

['2022-07-19',
 '2022-07-19',
 '2022-07-19',
 '2022-07-19',
 '2022-07-19',
 '2022-07-19',
 '2022-07-19',
 '2022-07-19',
 '2022-07-19',
 '2022-07-19']

In [182]:
Earth = pd.DataFrame({"Date":date_, "Hour":hour_,'Latitude':latitude,'Lat':lat_l, 'Longitude':longitude, 'Long':lon_l, 'Region':region, 'Magnitude':magnitude})
Earth

,Date,Hour,Latitude,Lat,Longitude,Long,Region,Magnitude
0,2022-07-19,07:58:51,8.38,S,120.30,E,"FLORES REGION, INDONESIA",3.3
1,2022-07-19,07:53:50,23.31,S,66.75,W,"JUJUY, ARGENTINA",3.5
2,2022-07-19,07:37:32,41.99,N,6.79,W,PORTUGAL,2.1
3,2022-07-19,07:35:31,12.22,N,126.13,E,PHILIPPINE ISLANDS REGION,3.7
4,2022-07-19,07:09:42,10.53,N,126.58,E,PHILIPPINE ISLANDS REGION,3.2
5,2022-07-19,06:59:07,33.98,N,116.69,W,SOUTHERN CALIFORNIA,2.5
6,2022-07-19,06:58:10,22.82,S,68.15,W,"ANTOFAGASTA, CHILE",2.7
7,2022-07-19,06:56:28,12.90,S,76.16,W,NEAR COAST OF CENTRAL PERU,4.7
8,2022-07-19,06:52:20,38.91,N,38.40,E,EASTERN TURKEY,3.5
9,2022-07-19,06:46:38,3.90,S,128.72,E,"SERAM, INDONESIA",3.3

In [183]:
!git add .
!git status
!git commit -m 'fbi most_wanted & earthquakes'
!git push

On branch master
Your branch is up to date with 'origin/master'.

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
	modified:   Untitled1-Copy1.ipynb
	modified:   Untitled1.ipynb

[master 8279991] fbi most_wanted & earthquakes
 2 files changed, 377 insertions(+), 209 deletions(-)
Enumerating objects: 7, done.
Counting objects: 100% (7/7), done.
Delta compression using up to 8 threads
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 2.61 KiB | 2.61 MiB/s, done.
Total 4 (delta 3), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (3/3), completed with 3 local objects.
To https://github.com/mferreiracad/lab-web-scraping-single-page
   cd44bd0..8279991  master -> master