In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = "https://www.fbi.gov/wanted/topten"

In [3]:
response = requests.get(url)
response.status_code

200

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [5]:
a = soup.select('#query-results-0f737222c5054a81a120bce207b0446a > ul > li > h3 >a')
a

[<a href="https://www.fbi.gov/wanted/topten/jason-derek-brown">JASON DEREK BROWN</a>,
 <a href="https://www.fbi.gov/wanted/topten/ruja-ignatova">RUJA IGNATOVA</a>,
 <a href="https://www.fbi.gov/wanted/topten/arnoldo-jimenez">ARNOLDO JIMENEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/alexis-flores">ALEXIS FLORES</a>,
 <a href="https://www.fbi.gov/wanted/topten/jose-rodolfo-villarreal-hernandez">JOSE RODOLFO VILLARREAL-HERNANDEZ</a>,
 <a href="https://www.fbi.gov/wanted/topten/yulan-adonay-archaga-carias">YULAN ADONAY ARCHAGA CARIAS</a>,
 <a href="https://www.fbi.gov/wanted/topten/rafael-caro-quintero">RAFAEL CARO-QUINTERO</a>,
 <a href="https://www.fbi.gov/wanted/topten/eugene-palmer">EUGENE PALMER</a>,
 <a href="https://www.fbi.gov/wanted/topten/bhadreshkumar-chetanbhai-patel">BHADRESHKUMAR CHETANBHAI PATEL</a>,
 <a href="https://www.fbi.gov/wanted/topten/alejandro-castillo">ALEJANDRO ROSALES CASTILLO</a>]

In [6]:
most_wanted = []

num_iter = len(a)
#query-results-0f737222c5054a81a120bce207b0446a > ul > li:nth-child(1) > h3 > a
name = a

for i in range(num_iter):
     most_wanted.append(name[i].get_text())

print(most_wanted)

['JASON DEREK BROWN', 'RUJA IGNATOVA', 'ARNOLDO JIMENEZ', 'ALEXIS FLORES', 'JOSE RODOLFO VILLARREAL-HERNANDEZ', 'YULAN ADONAY ARCHAGA CARIAS', 'RAFAEL CARO-QUINTERO', 'EUGENE PALMER', 'BHADRESHKUMAR CHETANBHAI PATEL', 'ALEJANDRO ROSALES CASTILLO']

In [7]:
most_wanted = pd.DataFrame({"Name":most_wanted})

In [8]:
most_wanted

                                Name
0                  JASON DEREK BROWN
1                      RUJA IGNATOVA
2                    ARNOLDO JIMENEZ
3                      ALEXIS FLORES
4  JOSE RODOLFO VILLARREAL-HERNANDEZ
5        YULAN ADONAY ARCHAGA CARIAS
6               RAFAEL CARO-QUINTERO
7                      EUGENE PALMER
8     BHADRESHKUMAR CHETANBHAI PATEL
9         ALEJANDRO ROSALES CASTILLO

In [9]:
# Display the 20 latest earthquakes info (date, time, latitude, longitude and region name

In [10]:
url = 'https://www.emsc-csem.org/Earthquake/'

In [11]:
response = requests.get(url)
response.status_code

200

In [12]:
soup = BeautifulSoup(response.content, "html.parser")

In [13]:
time = []
latitude = []
lat_l = []
longitude = [] 
lon_l = []
region = []
magnitude =[]
num_iter = 10

date = soup.select('tbody tr td.tabev6 b')
lat = soup.select('tbody tr td:nth-child(5)')
lon = soup.select('tbody tr td:nth-child(7)')
lt_l = soup.select('tbody tr td:nth-child(6)')
ln_l = soup.select('tbody tr td:nth-child(8)')
reg = soup.select('tbody tr td.tb_region')
mag = soup.select('tbody tr td:nth-child(11)')
for i in range(num_iter):
    time.append(date[i].get_text())
    latitude.append(lat[i].get_text())
    longitude.append(lon[i].get_text())
    lat_l.append(lt_l[i].get_text())
    lon_l.append(ln_l[i].get_text())
    region.append(reg[i].get_text())
    magnitude.append(mag[i].get_text())

In [14]:
time

['earthquake2022-07-19\xa0\xa0\xa015:35:37.6',
 'earthquake2022-07-19\xa0\xa0\xa015:27:11.4',
 'earthquake2022-07-19\xa0\xa0\xa015:24:47.8',
 'earthquake2022-07-19\xa0\xa0\xa015:20:44.0',
 'earthquake2022-07-19\xa0\xa0\xa015:09:08.5',
 'earthquake2022-07-19\xa0\xa0\xa014:45:10.1',
 'earthquake2022-07-19\xa0\xa0\xa014:43:08.0',
 'earthquake2022-07-19\xa0\xa0\xa014:34:12.0',
 'earthquake2022-07-19\xa0\xa0\xa014:32:26.3',
 'earthquake2022-07-19\xa0\xa0\xa014:26:34.0']

In [16]:
date_ = []
hour_ = []
for x in time:
    hour = x[-10:-5]
    date = x[10:20]
    hour_.append(hour)
    date_.append(date)
hour_

['15:35',
 '15:27',
 '15:24',
 '15:20',
 '15:09',
 '14:45',
 '14:43',
 '14:34',
 '14:32',
 '14:26']

In [17]:
Earth = pd.DataFrame({"Date":date_, "Hour":hour_,'Latitude':latitude,'Lat':lat_l, 'Longitude':longitude, 'Long':lon_l, 'Region':region, 'Magnitude':magnitude})
Earth

,Date,Hour,Latitude,Lat,Longitude,Long,Region,Magnitude
0,2022-07-19,15:35,57.71,N,153.97,W,"KODIAK ISLAND REGION, ALASKA",3.5
1,2022-07-19,15:27,26.71,N,55.33,E,SOUTHERN IRAN,3.7
2,2022-07-19,15:24,35.50,N,3.61,W,STRAIT OF GIBRALTAR,1.8
3,2022-07-19,15:20,28.37,S,67.43,W,"LA RIOJA, ARGENTINA",4.8
4,2022-07-19,15:09,39.81,N,41.83,E,EASTERN TURKEY,2.7
5,2022-07-19,14:45,35.44,N,27.78,E,"DODECANESE ISLANDS, GREECE",3.0
6,2022-07-19,14:43,21.94,S,68.78,W,"ANTOFAGASTA, CHILE",3.6
7,2022-07-19,14:34,20.15,S,69.15,W,"TARAPACA, CHILE",3.2
8,2022-07-19,14:32,35.16,N,25.31,E,"CRETE, GREECE",3.0
9,2022-07-19,14:26,7.51,S,106.23,E,"JAVA, INDONESIA",3.3

In [16]:
!git add .
!git status
!git commit -m 'fbi most_wanted & earthquakes'
!git push

On branch master
Your branch is up to date with 'origin/master'.

Changes to be committed:
  (use "git restore --staged <file>..." to unstage)
	modified:   .ipynb_checkpoints/Untitled1-Copy1-checkpoint.ipynb
	modified:   Untitled1-Copy1.ipynb

[master 56e72fa] fbi most_wanted & earthquakes
 2 files changed, 441 insertions(+), 259 deletions(-)
Enumerating objects: 7, done.
Counting objects: 100% (7/7), done.
Delta compression using up to 8 threads
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 3.16 KiB | 3.16 MiB/s, done.
Total 4 (delta 2), reused 0 (delta 0), pack-reused 0
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To https://github.com/mferreiracad/lab-web-scraping-single-page
   8279991..56e72fa  master -> master